.event-description img {
  max-width: 100%;
}

.event-show-page-buttons {
  margin: 24px 0 12px 0;
  float: right;

  .btn {
    margin: 12px 0;
  }

  .btn-primary {
    margin-left: 6px;
  }
}

.card {
  margin-bottom: 24px;
}

