.eventsContainer, .event {
  margin-top: 24px;
}

.pagination {
  justify-content: center;
}

.events-enter {
  opacity: 0.01;
}

.events-enter.events-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.events-leave {
  opacity: 1;
}

.events-leave.events-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
