body {
  font-family: 'Montserrat', sans-serif !important;
  background-color: #f7f7f7 !important;
}

.navbar-brand {
  img {
    padding-right: 6px;
  }
  span {
    color: #fff;

    &:hover {
      color: rgba(255, 255, 255, .95);
    }
  }
}

.navbar-brand {
  font-weight: 700;
  font-size: 22px;
  font-family: Open Sans;
  font-style: italic;
}

.spinner {
  position: fixed !important
}

.navbar {
  background-color: #222222 !important
}

.card-subtitle {
  margin-bottom: 18px !important;
}

.card-title {
  color: rgba(0,0,0,.65)
}
